<section id="awards_and_fellowships" class="section">
  <div class="row">
    <h3 class="mtcon-title">Awards and Fellowship</h3>
    <div class="short-dec">
    </div>
  </div>
  <div class="mtcon">
    <div class="section-container">
      <table class="table table-responsive">
        <tbody>
        <% @cv[:awards_and_fellowships].each do |award_and_fellowship| %>
          <tr>
            <td><b><%= award_and_fellowship.title %></b></td>
            <td>
              <%= award_and_fellowship.description %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div><!-- /section-container -->
  </div>
</section>