<section id="awards_and_fellowships" class="section">
  <div class="row">
    <h3 class="mtcon-title">Awards and Fellowship</h3>
    <div class="short-dec">
    </div>
  </div>
  <div class="mtcon">
    <div class="section-container">
      <table class="table table-responsive">
        <tbody>
        <tr>
          <td><b>University Scholarship</b></td>
          <td>
            Received university merit scholarship in every year of Bachelor degree.
          </td>
        </tr>
        <tr>
          <td><b>NST Fellowship</b></td>
          <td>
            Received National Science and Technology (NST) Fellowship under the
            Ministry of Science and Technology, The People's Republic of Bangladesh
            in 2016-'17 fiscal year.
          </td>
        </tr>
        </tbody>
      </table>
    </div><!-- /section-container -->
  </div>
</section>