<section id="contact" class="section">
  <!-- heading -->
  <div class="row">
    <h3 class="mtcon-title">Contact</h3>
  </div>
  <!-- /heading -->
  <div class="mtcon">
    <div class="row contact">
      <div class="col-md-12">
        <ul class="get_in">
          <li><i class="fa fa-envelope-o"></i><p><a href="mailto:alvi.utsab@gmail.com">alvi.utsab@gmail.com</a></p></li>
          <li><i class="fa fa-phone"></i><p>+8801712938287</p></li>
          <li><i class="fa fa-map-marker"></i><p>Street: 05, House: 05, Flat: 05/B, PC Culture Housing Society, Adabor, Dhaka -1207.</p></li>
          <li><a href="https://drive.google.com/open?id=0By7f-4j11gCANWJMd0xyeVNhMGs" target="_blank"><i class="fa fa-cloud-download"></i><p>Download CV</p></a></li>
        </ul>
      </div>
    </div><!-- .contact end -->
  </div><!-- /section-container -->
</section>