<section id="employments" class="section">
  <div class="row">
    <h3 class="mtcon-title">Employments</h3>
  </div>
  <div class="mtcon">
    <div class="section-container">
      <div class="row">

        <!-- Experience Timeline -->
        <div class="timeline">
          <!-- first item of timeline -->
          <div class="timeline-item">
            <div class="timeline-item-date">Jan 16th, 2016 - Present</div><!-- date -->
            <!-- timeline item trigger -->
            <div class="timeline-item-trigger">
              <span class="fa fa-minus" data-toggle="collapse" data-target="#job1"><i></i></span>
            </div>
            <!-- /end of timeline item trigger -->
            <div class="timeline-arrow"><i></i></div>
            <!-- timeline main content -->
            <div class="timeline-item-content">
              <h3 class="timeline-item-title" data-toggle="collapse" data-target="#job1">Junior Software Engineer</h3>
              <div class="collapse in" id="job1">
                <table class="table table-responsive">
                  <tbody>
                  <tr>
                    <td><b>Institution</b></td>
                    <td>
                      Nascenia Ltd., Dhaka, Bangladesh.
                    </td>
                  </tr>
                  <tr>
                    <td><b>Responsibility</b></td>
                    <td>
                      Develop and maintain Web Applications in Ruby On Rails.
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /end of timeline main content -->
            <!-- /end of first item of timeline -->
          </div>
        </div>
        <!-- /Experience Timeline end -->
      </div>

    </div><!-- /section-container -->
  </div>
</section>