<section id="language_proficiency" class="section">
  <div class="row">
    <h3 class="mtcon-title">Language Proficiency</h3>
    <div class="short-dec">
    </div>
  </div>
  <div class="mtcon">
    <div class="section-container">
      <table class="table table-responsive">
        <tbody>
        <tr>
          <td><b>Bengali</b></td>
          <td>
            Native
          </td>
        </tr>
        <tr>
          <td><b>English</b></td>
          <td>
            <table class="table table-responsive">
              <b>Fluent</b><br>
              <b>IELTS Academic Overall Band Score: 7 <br> </b>( Listening: 8.0, Reading: 7.0, Writing: 6.5, Speaking: 6.5 )<br>
              ( Taken on 14th October, 2017 )<br>
              <a href="https://drive.google.com/open?id=0By7f-4j11gCAX2JZcklEZFRndEU" target="_blank" type="button" class="btn btn-info" data-placement="top" data-toggle="tooltip" title="Download Certificate" style="color: white; font-family: inherit; font-size: initial; background-color: #3BC2C8; border-color: #3BC2C8;">
                <i class="fa fa-arrow-circle-o-down"></i>&nbsp;Certificate
              </a>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div><!-- /section-container -->
  </div>
</section>