<section id="papers_and_publications" class="section">
  <div class="row">
    <h3 class="mtcon-title">Paper and Publications</h3>
    <div class="short-dec">
    </div>
  </div>
  <div class="mtcon">
    <div class="section-container">
      <table class="table table-responsive">
        <tbody>
        <% publication_numnber = 1 %>
        <% @cv[:papers_and_publications].each do |paper_and_publication| %>
          <tr>
            <td>
              <%= build_papers_and_publication(paper_and_publication, publication_numnber) %>.<br>
              <%= link_to paper_and_publication.link_alias, paper_and_publication.link if paper_and_publication.present? %>
              <% publication_numnber += 1 %>
            </td>
          </tr>
        <% end %>
        <!--<tr>-->
          <!--<td>-->
            <!--[2] Alvi Mahadi, Fatema Tuj Johora and Mohammad Abu Yousuf: <i>“An Efficient Approach of Training-->
            <!--Artificial Neural Network to Recognize Bengali Hand Sign”</i>, IEEE 6th International Advance Computing-->
            <!--Conference (IACC2016), Bhimavaram, Andhra Pradesh, India, 27-28 February, 2016.<br>-->
            <!--<a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7544826" target="_blank"><i class="ai ai-ieee ai-3x"></i>IEEE Xplore link</a>-->
          <!--</td>-->
        <!--</tr>-->
        </tbody>
      </table>
    </div><!-- /section-container -->
  </div>
</section>