<section id="papers_and_publications" class="section">
  <div class="row">
    <h3 class="mtcon-title">Paper and Publications</h3>
    <div class="short-dec">
    </div>
  </div>
  <div class="mtcon">
    <div class="section-container">
      <table class="table table-responsive">
        <tbody>
        <tr>
          <td>
            [1] Alvi Mahadi, Munira Akter Lata, Mohammad Abu Yousuf: <i>“A New Approach of Feature Extraction of
            Printed Bengali Characters”</i>, IEEE 4 th International Conference on Advances in Electrical Engineering
            (ICAEE – 2017), Dhaka, Bangladesh, 28-30 September, 2017.<br>
            Link:- Accepted and Presented but not indexed in IEEE Xplore yet.
          </td>
        </tr>
        <tr>
          <td>
            [2] Alvi Mahadi, Fatema Tuj Johora and Mohammad Abu Yousuf: <i>“An Efficient Approach of Training
            Artificial Neural Network to Recognize Bengali Hand Sign”</i>, IEEE 6th International Advance Computing
            Conference (IACC2016), Bhimavaram, Andhra Pradesh, India, 27-28 February, 2016.<br>
            <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7544826" target="_blank"><i class="ai ai-ieee ai-3x"></i>IEEE Xplore link</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div><!-- /section-container -->
  </div>
</section>