<section id="references" class="section">
  <div class="row">
    <h3 class="mtcon-title">References</h3>
    <div class="short-dec">
    </div>
  </div>
  <div class="mtcon">
    <div class="section-container">
      <table class="table table-responsive">
        <tbody>
        <tr>
          <td><b>Dr. Mohammad Abu Yousuf</b><br>
            Associate Professor<br>
            Institute of Information Technology<br>
            Jahangirnagar University.<br>
            Contact Number : +8801711469636<br>
            e-mail : yousuf@juniv.edu
          </td>
          <td>
            <b>Dr. Mohammad Shahidul Islam</b><br>
            Assistant Professor<br>
            Institute of Information Technology<br>
            Jahangirnagar University.<br>
            Contact Number : +8801714028777<br>
            e-mail : sislam@juniv.edu
          </td>
        </tbody>
      </table>
    </div><!-- /section-container -->
  </div>
</section>