<section id="research_interests" class="section">
  <div class="row">
    <h3 class="mtcon-title">Research Interests</h3>
    <div class="short-dec">
    </div>
  </div>
  <div class="mtcon">
    <div class="section-container">
      <ul class="research_interests">
        <% @cv[:research_interest][:subjects].each do |subject| %>
            <li><%= subject.interested_field %></li>
        <% end %>
      </ul>
    </div><!-- /section-container -->
  </div>
</section>