<section id="research_experiences" class="section">
  <div class="row">
    <h3 class="mtcon-title">Research Experiences</h3>
    <div class="short-dec">
    </div>
  </div>
  <div class="mtcon">
    <div class="section-container">
      <table class="table table-responsive">
        <tbody>
        <tr>
          <td><b>Undergraduate Thesis</b></td>
          <td>
            "An Efficient Approach of Training Artificial Neural Network to Recognize
            Bengali Hand Sign" — Institute of Information Technology, Jahangirnagar
            University.<br>
            &nbsp; &nbsp;- Supervised by: Dr. Mohammad Abu Yousuf, Assistant Professor, Institute
            of Information Technology, Jahangirnagar University.
          </td>
        </tr>
        <tr>
          <td><b>NST Fellowship Thesis</b></td>
          <td>
            "A Novel Approach of Feature Extraction and Recognition Printed Bengali
            Characters" — Ministry of Science and Technology, People’s Republic of
            Bangladesh.<br>
            &nbsp; &nbsp;- Supervised by: Dr. Mohammad Abu Yousuf, Assistant Professor, Institute
            of Information Technology, Jahangirnagar University.
          </td>
        </tr>
        </tbody>
      </table>

    </div><!-- /section-container -->
  </div>
</section>