<section id="technical_skills" class="section">
  <div class="row">
    <h3 class="mtcon-title">Technical Skills</h3>
    <div class="short-dec">
    </div>
  </div>
  <div class="mtcon">
    <div class="section-container">
      <table class="table table-responsive">
        <tbody>
        <tr>
          <td><b>Contest Programming</b></td>
          <td>
            Participated in Online Logical Programming and Programming Contests.<br>
            <a href="http://uhunt.felix-halim.net/id/145696" target="_blank">
              <i class="ai ai-acm ai-3x"></i>UVA Online Judge Profile</a><br>
            Problems Solved: 189
          </td>
        </tr>
        <tr>
          <td><b>Programming Languages</b></td>
          <td>
            <ul>
              <li>Contest Programming experience in C/C++.</li>
              <li>Proficient in Ruby, Java and Python.</li>
              <li>Simulation Software: MATLAB</li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div><!-- /section-container -->
  </div>
</section>